* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #0f1c3c;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100vh;
}
